extends ../layout

block content

  h1 Score Profile

  form(action='/profile' method='post')
    p
      label(for='coursesearch') Search for a Course:
      input#coursesearch.form-controll(type='text' name='coursesearch' placeholder='search')
    p
      input(type='submit')

  if updatePage
    section
      table
          thead
            tr
              th Name
              th Location
              th Hole Count
              th Year Established
              th Scores on Course
          tbody
            for course in courseSearch
              tr
                td
                  a(href='/courses/' + course._id)= course.name
                td= course.location
                td= course.holecount
                td= course.yearEst
                td= course.lastround
    section
      //- where chart appears
    section.bottom



  //- a(href='/courses') List of All Courses
