extends ../layout

block content

  h1= theCourse.name
  h2 Course Location
  h3= theCourse.location
  h2 Number of Holes
  h3= theCourse.holecount
  h2 Year Established
  h3= theCourse.yearEst

  h3= theCourse.lastRoundScore


  a(href='/courses/' + theCourse._id + '/newscore') New Score